.blog-container {
    padding-top: 90px;
    padding-bottom: 90px;
}

.blog-content {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.icon-text {
    display: flex;
    gap: 6px;
}

.icon-text span {
    margin-top: auto;
    margin-bottom: auto;
}

.icon-blog-post {
    width: 100%;
    max-width: 20px;
    height: 100%;
    display: inline-block;
}

.blog-posts {
    display: flex;
}

.blog-card {
    padding: 21px;
    width: 350px;
    display: flex;
    flex-direction: column;
    vertical-align: bottom;
}

.blog-card>h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.blog-meta {
    display: flex;
    gap: 28px;

}

.blog-meta span {
    height: auto;
}